body {
    font-family: sans-serif;
    font-size: 24px;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #eee;
    
}
.content {
   
    position: relative;
    top: 100px;
    width: 720px;
    margin: auto;
    padding: 10px;
}
